version: '3.8'

services:
  backend:
    build: ./backend
    container_name: ai_email_backend
    command: ./scripts/start.sh
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: ai_email_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
